.backup-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.backup-link {
  &:hover {
    text-decoration: none;
  }
}

.backup-card {
  padding: $card-spacer-x;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.backup-list-item {
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.backup-card-title {
  margin-bottom: 10px;
}
